<ion-header>
  <ion-fab top right>
    <button ion-fab color="secondary" (click)="onLocate()">
      <ion-icon name="pin"></ion-icon>
    </button>
    <button ion-fab color="secondary" (click)="onReloadWeather()">
      <ion-icon name="partly-sunny"></ion-icon>
    </button>
  </ion-fab>

  <ion-navbar color="primary">
    <ion-title>Map</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-searchbar #search
                 [(ngModel)]="searchInput"
                 [showCancelButton]="true">
  </ion-searchbar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <agm-map #map
                 [latitude]="currentPlace.coords.lat" [longitude]="currentPlace.coords.lng" [zoom]="zoom"
                 gestureHandling="greedy" [streetViewControl]="streetViewEnabled"
                 (mapClick)="onMapClick($event)">
          <agm-marker [latitude]="currentPlace.coords.lat" [longitude]="currentPlace.coords.lng"></agm-marker>
        >
          <!--<agm-marker *ngFor="let m of markers" [latitude]="m.lat" [longitude]="m.lng"></agm-marker>-->
          <!--<agm-circle *ngFor="let m of markers" [latitude]="m.lat" [longitude]="m.lng" [radius]="10000"-->
                      <!--[draggable]="true"></agm-circle>-->
        </agm-map>
      </ion-col>
    </ion-row>
  </ion-grid>

  <w-place [place]="currentPlace"></w-place>
  <w-current-conditions [currentConditions]="currentConditions" (onClickTemp)="onClickTemp()"></w-current-conditions>

  <ion-slides slidesPerView="2" class="forecast-slides">
    <ion-slide *ngFor="let item of forecasts">
      <w-forecast [forecast]="item"></w-forecast>
    </ion-slide>
  </ion-slides>

  <span *ngIf="!currentConditions"><small>Click the weather button to update</small></span>

</ion-content>
