<!--<div class="wrapper" >-->
  <!--<ion-list>-->
  <!--<ion-item>-->
  <!--<ion-avatar><img [src]="currentConditions.iconUrl"></ion-avatar>-->
  <!--<h2>{{currentConditions.weather}}</h2>-->
  <!--<h3>{{currentConditions.temp}}° (like {{currentConditions.feelsLike}}°)</h3>-->
  <!--<p>{{currentConditions.relativeHumidity}}</p>-->
  <!--</ion-item>-->
  <!--</ion-list>-->
  <!--<ion-grid>-->
    <ion-row *ngIf="currentConditions">
      <ion-col col-2>
        <!--<ion-row>-->
        <!--<ion-col>-->
        <img class="weather-icon" [src]="currentConditions.iconUrl">
        <!--</ion-col>-->
        <!--</ion-row>-->
        <!--<ion-row>-->
        <!--<ion-col>{{currentConditions.weather}}</ion-col>-->
        <!--</ion-row>-->
      </ion-col>
      <ion-col col-5>
        <ion-label>
          <ion-icon name="thermometer"></ion-icon>
          {{currentConditions.temp}}° (like {{currentConditions.feelsLike}}°)
        </ion-label>
      </ion-col>
      <ion-col col-3>
        <ion-label>
          <ion-icon name="water"></ion-icon>
          {{currentConditions.relativeHumidity}}
        </ion-label>
      </ion-col>
      <ion-col>
        {{currentConditions.precipitationToday}} mm
      </ion-col>
    </ion-row>
  <!--</ion-grid>-->
<!--</div>-->
<!--<div *ngIf="!currentConditions"><small>Click the weather button to show current weather</small></div>-->
