w-current-conditions {
  .wrapper {
    padding-left: 8px;
    background-color: #6ec3d4;
  }

  .label-md {
    margin: 0;
    font-size: 12px;
  }

  .weather-icon  {
    height: 30px;

  }

  ion-row {
    align-items: center;
  }
}
