w-hourly-forecast {
  .wrapper {
    padding: 8px;
  }

  .label-md {
    margin: 0;
  }

  .weather-icon {
    height: 30px;
  }

  .item-md {
    h3 {
      font-size: 12px;
    }
    p {
      font-size: 12px;
      margin-top: 2px;
      margin-bottom: 2px;
    }
  }

}
